body, html {
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home {
  background-image: url("../img/background.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;      
}

/* #TODO: Make navbar Pitt Royal Blue and Gold */
nav-bg {
  background-color: rgb(65, 105, 225, 1);
}
